.first{
  background-color: #EDD2F3;
    text-align: center;
    align-items: center;
    height: 50%;
}
h3{
  color: red;
}
h1{color:black;
}
h4{
  color: blue;
}
h6{
  color:red;
}
img{
  height: 200px;
  width: 200px;
}
.one{
  text-align: center;
}
